* {
    margin: 0;
    padding: 0;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease;
} 

.header__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.burger__menu__button {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger__menu__button i {
    font-size: 30px;
}

.burger__menu {
    transition: all 0.3s ease;
    position: fixed;
    height: 100%;
    width: 70%;
    background-color: #F8F9FD;
    border-right: 5px solid black;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
}

.burger__menu__header {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.burger__menu__header__button {
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.burger__menu__header__button i {
    font-size: 30px;
}

.burger__menu__items {
    height: 100%;
    width: 100%;
}

.burger__menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.burger__menu__item:hover {
    background-color: #8000FF;
    color: white;
}

.burger__menu__contacts {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger__menu__contacts i {
    color: #8000FF;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    margin: 20px;
    font-size: 0.78vw;
    cursor: pointer;
    transition: all 0.2s ease;
}

li:hover {
    color: #8000FF;    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    color: #8000FF;
}

.contact__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__info i {
    color: #8000FF;
    font-size: 0.78vw;
    margin-top: 5px;
}

.contact__info p {
    font-size: 0.78vw;
    margin-left: 10px;
    cursor: pointer
}

.main__info {
    height: 100vh;
    width: 100%;
    background-color: #F8F9FD;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__info__container {
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
}

.main__info__left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main__info__left__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__info__left__container span {
    color: #8000FF;
}

.title__container {
    display: flex;
    align-items: center;
}

.title__container img {
    height: 70px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.title {
    font-size: 2.708vw;
    margin-right: 30px;
}

.description {
    margin-top: 40px;
    font-size: 3.385vw;
    text-align: justify;
}

.inner__description {
    font-size: 0.78vw;
    color: #B9C2CE;
    text-align: justify;
    margin: 60px 0px;
}

.button__container {
    display: flex;
}

.button__container button {
    width: 170px;
    height: 50px;
    margin-right: 50px;
    font-size: 15px;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.button__enable {
    background-color: #8000FF;
    color: white;
    transition: all 0.2s ease;
    border: none;
}

.button__enable:hover {
    background-color: #9932ff;
    box-shadow: 5px 5px 0px #cb8fff;
}

.button__disable {
    background-color: #F8F9FD;
    border: 1px solid #ECF0F6;
    transition: all 0.1s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.button__disable:hover {
    border: 2px solid rgb(151, 151, 151);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.main__info__right {
    width: 50%;
    height: 100%;
    position: relative;
}

.img__main {
    position: absolute;
    height: 80%;
    bottom: 0;
    left: 55%;
    transform: translate(-50%, 50%);

    transition: opacity 0.6s, transform 0.6s;
    opacity: 0;
}

.img__main.active {
    opacity: 1; 
    transform: translate(-50%, 0);
}

.img__emoji__1 {
    position: absolute;
    height: 100px;
    right: 0%;
    top: 20%;
    transform: rotate(15deg);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translate(100px, -100px);
}

.img__emoji__1.active {
    transform: translate(0, 0);
    opacity: 1;
}

.img__emoji__2 {
    position: absolute;
    height: 80px;
    left: 20%;
    top: 15%;
    transform: rotate(-25deg);
    transition: all 0.6s ease;
    opacity: 0;
    transform: translate(-100px, 0);
}

.img__emoji__2.active {
    transform: translate(0, 0);
    opacity: 1;
}


.img__emoji__3 {
    position: absolute;
    height: 50px;
    right: 30%;
    top: 10%;
    transform: rotate(8deg);
    transition: all 0.9s ease;
    opacity: 0;
    transform: translate(0, -100px);
}

.img__emoji__3.active {
    transform: translate(0, 0);
    opacity: 1;
}

.img__emoji__4 {
    position: absolute;
    height: 90px;
    left: 20%;
    top: 40%;
    transform: rotate(-20deg);
    transition: all 1.2s ease;
    opacity: 0;
    transform: translate(-100px, 0);
}

.img__emoji__4.active {
    transform: translate(0, 0);
    opacity: 1;
}

.left__rectangle {
    position: absolute;
    background-color: #F9ECFF;
    height: 100%;
    width: 25%;
    right: 0;
}

.top__sales {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top__sales__container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.top__sales__container h1 {
    margin: 50px 0;
}

.slider {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    transform: translate(0, 50%);

    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
}

.slider.active {
    opacity: 1;
    transform: translate(0, 0);
}

.slider__item {
    flex-shrink: 0;
    margin: 0 20px;
    height: 290px;
    width: 250px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.slider__item__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.slider__item__photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item__rating img {
    width: 100px;
}

.slider__item__price {
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.about__site__container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.about__site {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about__site__container h1 {
    margin: 50px 0px;
}

.about__site__container__info {
    background-color: #8000FF;
    text-align: justify;
    line-height: 30px;
    display: flex;
}

.about__site__left {
    padding: 50px;
    color: white;
    width: 50%;
    font-size: 15px;
}

.about__site__right {
    position: relative;
    width: 50%;
}

.about__site__right img {
    position: absolute;
    height: 500px;
    bottom: -100%;
    left: 90%;
    transform: translate(-50%, -50%);     
    transition: all 0.3s ease;
    opacity: 0;
}

.about__site__right img.active {
    left: 50%;
    opacity: 1;
}

.slider.active {
    opacity: 1;
    transform: translate(0, 0);
}

.advantages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.advantages__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.advantages__container h1 {
    margin: 50px 0;
}

.advantages__info {
    font-size: 15px;
    display: flex;
    text-align: justify;
    line-height: 30px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.left__advantages {
    width: 40%;
    transform: translate(-100%, 0);
    transition: all 0.3s ease;
    opacity: 1;
}

.right__advantages {
    transform: translate(100%, 0);
    transition: all 0.3s ease;
    width: 40%;
    opacity: 0;
}

.right__advantages.active {
    transform: translate(0, 0);
    opacity: 1;
}

.left__advantages.active {
    transform: translate(0, 0);
    opacity: 1;
}

.producers__brands {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producers__brands__container {
    width: 80%;
    height: 100%;
}

.producers__brands__container h1 {
    margin: 50px 0;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    transform: translate(0, 50%);
    transition: all 0.3s ease;
    opacity: 0;
}

.brands.active {
    opacity: 1;
    transform: translate(0, 0);
}

.brands__item {
    width: calc(100% / 4 - 20px);
    margin-left: 10px;
    margin-right: 10px;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands__item img {
    width: 80%;
}

footer {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #666666;
}

.footer__container nav ul li {
    font-size: 15px;
    transition: all 0.2s ease;
}

.footer__container nav ul li:hover {
    color: black;
}

.logo__footer {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.splash {
    width: 100%;
    height: 1px;
    background-color: #D5D5D5;
    margin-top: 10px;
}

.copyright {
    margin: 30px 0;
}

@media screen and (max-width: 1400px) {
    .about__site__right img {
        bottom: -75%;
        height: 530px;
    }
}

@media screen and (min-width: 1100px) {
    .burger__menu__button {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .burger__menu__button {
        display: auto;
    }
    
    .header__wrapper nav {
        display: none;
    }
    
    .contact__info {
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .img__main {
        height: 80%;
        left: 80%;
    }

    .main__info {
        overflow: hidden;
    }

    .img__emoji__1 {
        display: none;
    }

    .slider {
        padding: 20px 0;
        overflow-y: scroll;
    }

    .slider {
        justify-content: flex-start;
    }

    .slider::-webkit-scrollbar {
        width: 0px; 
    }

    .title__container p {
        font-size: 52px;
    }

    .description {
        font-size: 32px;
    }

    .inner__description {
        font-size: 15px;
    }

    .about__site__right img {
        bottom: -60%;
        height: 530px;
    }

    .brands__item {
        width: 300px;
        margin: 0px 50px;
    }

    .brands__item img {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .header__wrapper nav {
        display: none;
    }
    
    .contact__info {
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .img__main {
        height: 85%;
        left: 50%;
    }

    .main__info {
        overflow: hidden;
    }

    .main__info__left {
        width: 70%;
        z-index: 1;
    }

    .main__info__right {
        width: 30%;
    }

    .img__emoji__1 {
        display: none;
    }

    .img__emoji__2 {
        display: none;
    }

    .img__emoji__3 {
        display: none;
    }
    
    .img__emoji__4 {
        display: none;
    }

    .title__container p {
        font-size: 52px;
    }

    .description {
        font-size: 32px;
    }

    .inner__description {
        font-size: 15px;
    }

    .about__site__right img {
        bottom: -20%;
        height: 450px;
    }

    .brands__item img {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .about__site__right img {
        bottom: 0%;
        height: 450px;
    }

    .advantages__info {
        flex-direction: column;
    }

    .left__advantages {
        width: 100%;
        margin-bottom: 50px;
    }

    .right__advantages {
        width: 100%;
    }
    .button__container {
        justify-content: space-between;
    }

    .button__container button {
        width: 40%;
        margin: 0px;
    }

    .footer__container nav ul li {
        text-align: center;
    }

    .footer__container li {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 650px) {
    .about__site__right {
        display: none;
    }

    .about__site__left {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .header__wrapper nav {
        display: none;
    }
    
    .contact__info {
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .img__main {
        height: 35%;
        left: -2500%;
    }

    .main__info {
        overflow: hidden;
    }

    .main__info__left {
        width: 100%;
        z-index: 1;
        align-items: flex-start;
        margin-top: 30vh;
    }

    .main__info__right {
        width: 1%;
    }

    .title__container p {
        font-size: 25px;
    }

    .title__container img {
        height: 50px;
    }

    .description {
        margin-top: 40px;
        font-size: 20px;
    }

    .inner__description {
        font-size: 10px;
        margin: 40px 0;
    }

    .about__site__right img {
        bottom: -20%;
        height: 450px;
    }
    
    .about__site__left {
        padding: 20px;
    }

    .brands__item img {
        width: 100%;
    }

    .button__disable {
        display: none   ;
    }

    .button__container button {
        width: 60%;
        margin: 0px;
    }
}

@media screen and (max-width: 400px) {
    .slider__item {
        width: calc(100% - 40px);
    }
}

@media screen and (max-height: 750px) {
    .main__info {
        height: 70vh;
    }

    .main__info__left {
        width: 100%;
        z-index: 1;
        align-items: flex-start;
        margin-top: 15vh;
    }

    .left__rectangle {
        height: 70vh;
    }
}




